.span {
    position: absolute;
    border-radius: 6px;
    padding: 4px 10px;
    backdrop-filter: blur(10px);
    background: rgba(21, 15, 38, 0.35);
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #77be1d;
    left: 12px;
    bottom: 13px;
}

.miniModal {
    position: absolute;
    padding: 12px 5px;
    top: 25px;
    left: 15px;
    background: #100d18;
    border-radius: 10px;
    transform: translateY(-140%);
    transition: transform 0.3s ease-in-out;

    &__active {
        position: absolute;
        padding: 12px 5px;
        top: 25px;
        left: 15px;
        background: #100d18;
        border-radius: 10px;
        transform: translateY(0%);
        transition: transform 0.3s ease-in-out;
    }
}